<div class="card flex justify-content-center">
  <p-button label="Check" icon="pi pi-check"></p-button>
</div>
<i class="pi pi-check" style="font-size: 1rem"></i>
<i class="pi pi-times" style="font-size: 1.5rem"></i>
<i class="pi pi-search" style="font-size: 2rem"></i>
<i class="pi pi-user" style="font-size: 2.5rem"></i>
<i class="pi pi-check" style="color: slateblue"></i>
<i class="pi pi-times" style="color: green"></i>
<i class="pi pi-search" style="color: 'var(--primary-color)'"></i>
<i class="pi pi-user" style="color: #708090"></i>
<i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
<i class="pi pi-spin pi-cog" style="font-size: 2rem"></i>
<div
  [ngStyle]="{
    backgroundColor: 'var(--highlight-bg)',
    color: 'var(--highlight-text-color)',
    borderRadius: 'var(--border-radius)',
    padding: '3rem'
  }"
>
  Highlighted Item
</div>
<div
  [ngStyle]="{
    backgroundColor: 'var(--primary-color)',
    color: 'var(--primary-color-text)',
    borderRadius: 'var(--border-radius)',
    padding: '3rem'
  }"
>
  Primary Color
</div>
